[submodule "aion_fastvm"]
	path = aion_fastvm
	url = https://github.com/aionnetwork/aion_fastvm
[submodule "aion_api"]
	path = aion_api
	url = https://github.com/aionnetwork/aion_api
[submodule "aion_ui"]
	path = aion_ui
	url = git@github.com:centrys/aion_ui.git
